.sold {
    padding: 1rem 5rem;
}

.items {
    text-align: center;
    
}

.item {
    line-height: 1.5;
    padding:  1rem;
    box-shadow: 0 0.25rem 1rem rgb(0 0 0 / 0.1);
    border-radius: 12px;
    margin-bottom: 1rem;
}

.item-info {
    margin-bottom: 1rem;
}

.sold-price {
    font-weight: bold;
    font-size: 1.1rem;
}